/*#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}*/

@charset "utf-8";
#body {	
    /*background-color: #7D7D7D;*/
    background: url(images/dark_smoke.jpg) no-repeat center fixed;
    -webkit-background-size: cover;

    font: 15px/25px Helvetica, sans-serif;
    font-stretch: ultra-expanded;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    
}

div.outerBox{
    max-width: 1000px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

div.box1{
    color:#FFFFFF;
    text-align: center;
    
    margin: 3vw;
    border: 25px;
    padding: 35px;
    overflow:hidden;
    
    background-color:#686868;
    position:fixed relative;
    
    width: 58vw;
    
    margin-left: auto;
    margin-right: auto;
}

p{
    font-size: 1vw;
    line-height: 2.5vw;
}

h1{
    color:#FFFFFF;
    font-size: 4vw;
    line-height: 4vw;
    letter-spacing: 20px;
    font-weight:90;
    text-align: center;
}

h2{
    color:#FFFFFF;
    font-size: 2vw;
    line-height: 2.5vw;
    letter-spacing: 1vw;
    font-weight:70;
    text-align: center;
}

h3{
    color:#FFFFFF;
    font-size: 1.3vw;
    line-height: 2vw;
    letter-spacing: 0.5vw;
    font-weight:90;
    text-align: center;
}

ul.circle {
    color:#FFFFFF;
    font-size: 1.3vw;
    line-height: 2vw;
    letter-spacing: 0.5vw;
    font-weight:90;
    text-align: left;
    list-style-type: circle;
}

div.buttonBox{
    width: 60%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

img.button{
    margin:auto;
    border: #2B2B2B;
    width:200px;
    float: center;	
}

img.banner{
    margin:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img.imgAlign{
    width:auto;
    height:auto;
    max-width:40%;
    position: relative;
    
    margin-left: auto;
    margin-right: auto;
}


/* Reponsive image grid */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 32.5%; /* IE10 */
  flex: 32.5%;
  max-width: 32.5%;
  padding: 0 2px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1066px) {
  .column {
    -ms-flex: 49%;
    flex: 49%;
    max-width: 49%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 865px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}


iframe{
    width:50vw; 
    height:30vw; 
    border: 2px solid #ccc;
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #1A1A1A;
}

img.footerIcon{
    width:4%;
    height:4%;
    margin:8px 0px;
    max-width:50%;
    position: relative;
    
    margin-left: auto;
    margin-right: auto;
}

textarea{
    width: 50%;
    height: 100px;
    padding: 10px;
    font: Arial, Helvetica, sans-serif;
}

button.buttonBox{
    margin:auto;
    border: #2B2B2B;
    width:20vw;
    background-color:#868686;	
}

.button01 {
	color: #1A1A1A;
		
	background-color: #FFFFFF;
	border: 1px solid;
}

.button01:hover {
    background-color: #1F1F1F;
    color: #FFFFFF;
}

#comment-list {
  list-style-type: none;
}

.comment {
  color:#FFFFFF;
  border: thin solid #FFFFFF;
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 30vw;
}

.comment span {
  flex-grow: 1;
}